body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    color: #d63384;
    font-size: 36px;
}

.label {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.radio {
    margin-top: 10px;
}
